body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

.headermain{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
}

.top-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    width: 80vw;


}

.bottom-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 80vw;

    
}

.textbuttonbundle {
    flex-direction: column;
    width: 50%;
}


.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    padding-top: 20px;
}



.header-links{
    display: flex;
    padding: 20px;
    justify-self: flex-end;
    gap: 15px;
}

.herotext{
    color: #F9FAF8;
    font-size: 24px;
}

.herotext2{
    color: #E5E7EB;
    font-size: 18px;
}

.hero-button{
    background-color: #3882F6;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    border: #1F2937;
    width: 110px;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 16px;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #E5E7EB;
}

.headimg{
    width: 500px;
    max-height: 300px;
    border-radius: 35px;
    padding: 30px;
    

}

.multibox-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.multibox-title {
    align-self: center;
    font-size: 36px;
    font-weight: 00;
    color: #1F2937;
    margin: 40px;
}

.multibox-flexer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;

}

.randomimg {
    width: 250px;
    height: 250px;
    border-radius: 10px;

}

.text {
    color: #1F2937;
    width: 250px;

}


.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;justify-content: center;
    align-items: center;

}

.quotebox {
    display: flex;
    flex-direction: column;
    width: 900px;
    align-items: flex-end;
    margin-top: 100px;


}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.quoter {
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
}

.cta-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 0px;
    background-color: white;
    height: 400px;
    width: 100vw;
}

.cta-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 60px;
    border-radius: 10px;
    width: 50vw;
    height: 00px;

}

.cta-textbox {
    color: #F9FAF8;
    margin-right: 40px;
}

.cta-head {
    font-size: 26px;
    font-weight: 900;
    padding-bottom: 8px;
}

.cta-text {
    font-weight: 100;
    font-size: 16px;
}

.cta-button {
    background-color: #3882F6;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    width: 110px;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 16px;}

    footer {
        display: flex;
        background-color: #1F2937;
        width: 100vw;
        height: 70px;
        align-items: center;
        justify-content: center;
    }

    .footertext {
        color: #E5E7EB;
    }